body {
    font: 11pt sans-serif;
}
.container {
    max-width:700px;
}
.col-select {
padding-bottom: 5px;

}

.party-dropdown ul{
   max-height:350px;/* you can change as you need it */
   overflow:auto;/* to get scroll */
   max-height:150px;
}
.districts {
    fill: none;
}
.dist_internal{
    fill: none;
    stroke: #f2f2f2;
    stroke-linejoin: round;  
    stroke-width: 1;
    opacity: 0.5;
}
.prov_external{
    fill: none;
    stroke: black;
    stroke-linejoin: round;
    stroke-width: 2;
    opacity: 0.6;
}
.prov_internal{
    fill: none;
    stroke: #1a1a1a;
    stroke-linejoin: round;
    stroke-width: 1;
    opacity: 0.6;
}
.d3-tip h5{
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    display: inline-block;
    font-weight: bold;
}
.d3-tip {
    line-height: 1.2;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
    font: 10pt sans-serif;
}
.axis text {
    font: 10pt sans-serif;
}
.axis line, .axis path {
    fill: none;
    stroke: #1a1a1a;
    shape-rendering: crispEdges;
}
#legend-svg {
    vertical-align: top;
}

#legend {
    padding: 1.5em 0 0 1.5em;
}

